// DEFAULT COLORS
$nav-black          : rgba(black, 0.9);
$black-trans        : rgba(black, 0.8);
$black-trans-5      : rgba(black, 0.5);
$black-trans-3      : rgba(black, 0.3);
$black-dark         : #161616;
$black-true         : #000000;
$black              : #1f1f1f;
$black-into-gray    : #232323;
$gray-dark          : #2d2d2d;
$gray-med           : #3d3d3d;
$gray-med-dark      : #414141;
$gray-ultra-med     : #4B4B4B;
$gray-darker-light  : #636363;
$gray-dark-light    : #717274;
$gray-light         : #878785;
$gray-extra-light   : #A3A3A3;
$gray-sky           : #CCCCCC;
$beige              : #D0D0D0;
$off-white          : #EBEBEB;
$white              : white;
$blue               : #0ab6e8;
$orange             : #f8981d;


// Color variables expected 04-base
$base-color: $black;
$text-color: $white;
$alt-color: $blue;
$background-color: $black-dark;
$border-color: $gray-light;


// link colors
$link-normal: $blue;
$link-hover: $white;
$link-active: $white;
$link-visited: $blue;
$link-focus: $blue;
$link-border-normal: $blue;
$link-border-hover: $white;
$link-border-active: $white;
$link-border-visited: $blue;


