.title-overlay {
  position: relative;
  display: block;
  h2 {
    @extend %h2;
    font-size: 20px;
  }
  .meta, h2 {
    background: $black-trans;
    bottom: 0;
    color: $white;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    white-space: nowrap;
    padding: 12px 15px 9px;
    margin: 0;
    overflow: hidden;
    &:after {
      content: $space;
      position: absolute;
      top: 0;
      right: 0;
      width: 1em;
      height: 100%;
      @include background-image(linear-gradient(right, $black-trans 20%, transparent));
    }
  }
  .field-name-field-caption {
    @extend %visuallyhidden;
  }
}

.caption-overlay {
  position: relative;
  display: block;
  .caption-fields-wrapper {
    height: 77px;
    background: $black-trans;
    bottom: 0;
    color: $white;
    display: block;
    left: 0;
    position: absolute;
    width: 300px;
    white-space: nowrap;
    padding: 17px 15px 8px;
    margin: 0 2px 2px;
    overflow: hidden;
    h3 {
      margin: 0 0 3px;
      line-height: 22.5px;
      font-family: $headline-semi;
      &:after {
        @include background-image(linear-gradient(right, $black-trans 20%, transparent));
        content: $space;
        position: absolute;
        top: 0;
        right: 0;
        width: 1em;
        height: 100%;
      }
    }
    .caption {
      font-family: $headline-reg;
      font-size: 15px;
      > div {
        display: inline;
//        padding-right: 5px;
      }
    }
  }
}
