
%secondary-menu {
  font-size: 19px;
  font-family: $headline-thn;
  line-height: 1;
  text-transform: lowercase;
  font-weight: normal;
  z-index: 5;
  @include breakpoint($bp-social-mid-width) {
    background-color: $gray-dark;
    border: 1px solid $gray-med-dark;
    height: 60px;
    z-index: 6;
    margin-bottom: 30px;
  }
}


.usa-secondary-menu {
  @extend %secondary-menu;
   li {
    list-style: none;
    position: relative;
    margin: 0;
    a {
      color: $white;
    }
  }
  ul {
    margin: 0;
  }
  .content > .item-list > ul {
    > li {
      margin-bottom: 15px;
      position: relative;
      @include breakpoint($bp-social-mid-width) {
        margin: 0;
        float: left;
      }
      &.first {
        border-right: $gray-med;
          .item-list {
            font-family: $headline-reg;
            display: none;
          > ul {
            @include breakpoint($bp-video-mid-large-width) {
              left: -1px;
            }
            li.first {
              a:first-child {
                border-top: 0;
              }
            }
            a {
              font-size: 14px;
              padding: 10px 20px 8px;
              float: none;
              border-top: 1px solid $gray-med-dark;
              &:hover {
                background-color: $gray-ultra-med;
              }
              &:hover:after {
                @include cssTriangle(0, $gray-med, top);
              }
            }
          }
        }
        &.open {
          a {
            color: $gray-extra-light;
          }
        }
        > span {
          height: auto;
          color: $white;
          display: block;
          height: 100%;
          width: 100%;
          position: relative;
          font-family: $headline-thn;
          padding: 20px 20px 18px;
          float: left;
          width: 100%;
          border-top: 0;
          border: 1px solid $gray-med-dark;
          cursor: pointer;
          background-color: $gray-dark;
          @include breakpoint($bp-video-mid-large-width) {
            border: 0;
          }
          &:after,
          &:hover:after {
            position: absolute;
            right: 11px;
            top: 28px;
            left: auto;
            @include cssTriangle(5px, $white, top);
          }
          &:before {
            position: absolute;
            right: 10px;
            left: auto;
            top: 16px;
            @include cssTriangle(5px, $white, bottom);
          }
          &:hover {
            color: $gray-extra-light;
          }
        }
        &.open > span {
          color: $gray-extra-light;
        }
      }
    }
  }
  .item-list .item-list  {
    ul {
      z-index: 99;
      margin: 0;
      max-height: 300px;
      overflow-y: auto;
      > li {
        font-family: $headline-thn;
        margin: 0;
        border: 0;
        padding: 0;
        line-height: 1em;
        letter-spacing: 0.05em;
        @include breakpoint($bp-social-mid-width) {
          display: inline-block;
           &.first a {
            border-top: 0;
          }
        }
        > a {
          padding: 15px 20px 13px;
          float: none;
          border-top: 1px solid $gray-light;
          font-size: 14px;
          padding-top: 10px;
          padding-bottom: 8px;
          &:hover {
            background-color: $gray-ultra-med;
          }
          @include breakpoint($bp-social-mid-width) {
            border: 0;
//            padding-top: 10px;
//            padding-bottom: 8px;
          }
          &:hover:after {
            @include cssTriangle(0, $gray-med, top);
          }
        }
      }
      display: inline-block;
      position: absolute;
      top: 59px;
      border: 1px solid $gray-med-dark;
      border-top: 0;
      background-color: $gray-dark;
      width: 100%;
      right: 0;
      white-space: nowrap;
      > li {
        border-bottom: 0;
        display: block;
        width: auto;
      }
    }
  }
  a {
    height: auto;
    padding: 15px 20px 13px;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 100;
    @include breakpoint($bp-social-mid-width) {
      padding: 20px 30px 18px;
      padding-left: 30px;
      padding-right: 30px;
      float: left;
      width: auto;
      border-top: 0;
      border-left: 1px solid $gray-dark;
      border-right: 1px solid $gray-dark;
      &:hover {
        color: $gray-extra-light;
        border-left: 1px solid $gray-med-dark;
        border-right: 1px solid $gray-med-dark;
      }
    }
  }
}
