.aspot {
  position: relative;
  display: block;

  a {
    color: $white;
    &:hover,
    &:visited {
      color: $white;
    }
  }
  .meta-wrap {
    position: absolute;
    color: $white;
    z-index: 1;
    top: 110px;
    left: 0;
    padding-left: 15px;
    text-align: left;
    @include breakpoint($bp-aspot-mid-range-width) {
      top: 150px;
      padding-left: 25px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      top: 140px;
      padding-left: 35px;
    }
    @include breakpoint($bp-aspot-large-width) {
      top: 190px;
      padding-left: 50px;
    }
    .usa-adrails &, .ie9 &, .ie8 & {
      top: 140px;
      padding-left: 35px;
    }
  }
  .meta {
    margin-bottom: 10px;
    @include breakpoint($bp-aspot-mid-range-width) {
      margin-bottom: 15px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      margin-bottom: 22px;
    }
    @include breakpoint($bp-aspot-large-width) {
       margin-bottom: 27px;
    }
    .usa-adrails &, .ie9 &, .ie8 & {
      margin-bottom: 22px;
    }
  }
  .cta {
    position: relative;
    padding-left: 34px;
    font-size: 12px;
    line-height: 35px;
    @include breakpoint($bp-aspot-mid-width) {
      top: 4px;
      padding-left: 55px;
      font-size: 14px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      line-height: 60px;
      font-size: 18px;
      padding-left: 70px;
    }
    @include breakpoint($bp-aspot-large-width) {
      line-height: 80px;
      padding-left: 90px;
      font-size: 25px;
    }
    .usa-adrails &, .ie9 &, .ie8 & {
      line-height: 60px;
      font-size: 18px;
      padding-left: 70px;
    }
    .view-mode-usa_term_icon {
      float: left;
      width: 26px;
      position: relative;
      top: 2px;
      margin-left: -34px;
      @include breakpoint($bp-aspot-mid-width) {
        width: 45px;
        top: -6px;
        margin-left: -58px;
      }
      @include breakpoint($bp-aspot-mid-range2-width) {
        width: 60px;
        top: -2px;
        margin-left: -74px;
      }
      @include breakpoint($bp-aspot-large-width) {
        width: 77px;
        top: 0;
        margin-left: -90px;
      }
      .usa-adrails &, .ie9 &, .ie8 & {
        width: 60px;
        top: -2px;
        margin-left: -74px;
      }
    }
    span {
      font-family: $headline-semi;
      font-weight: normal;
      letter-spacing: 0.05em;
    }
  }
  .show-title:after {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    @include background-image(linear-gradient(left, $white, transparent));
  }
  .show-title,
  .show-time,
  .episode-title {
    margin: 0;
    line-height: 1;
  }
  .show-title,
  .show-time {
    font-size: 24px;
    @include breakpoint($bp-aspot-mid-range-width) {
      font-size: 34px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      font-size: 44px;
    }
    .usa-adrails &, .ie9 &, .ie8 & {
      font-size: 34px;
    }
  }
  .show-title,
  .show-time,
  .cta {
    text-transform: uppercase;
  }
  .show-time,
  .episode-title,
  .cta {
    font-weight: normal;
    letter-spacing: 0.05em;
  }
  .show-title {
    font-family: $headline-reg;
    position: relative;
    margin-bottom: 5px;
    @include breakpoint($bp-aspot-mid-range2-width) {
      margin-bottom: 10px;
    }
    @include breakpoint($bp-aspot-large-width) {
      font-size: 54px;
      margin-bottom: 16px;
    }
  }
  .show-time {
    font-family: $headline-thn;
    margin-bottom: 2px;
    @include breakpoint($bp-aspot-mid-range-width) {
      margin-bottom: 5px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      margin-bottom: 8px;
    }
    @include breakpoint($bp-aspot-large-width) {
      margin-bottom: 8px;
      font-size: 60px;
    }
    .usa-adrails &, .ie9 &, .ie8 & {
      margin-bottom: 8px;
      font-size: 44px;
    }
  }
  .episode-title {
    font-family: $headline-reg;
    font-size: 12px;
    @include breakpoint($bp-aspot-mid-range-width) {
      font-size: 18px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      font-size: 22px;
    }
    @include breakpoint($bp-aspot-large-width) {
      font-size: 28px;
    }
    .usa-adrails &, .ie9 &, .ie8 & {
      font-size: 22px;
    }
  }
  .suits .show-time {
    margin-bottom: 0;
    font-size: 27px;
  }
  img, .flexslider & img {
    max-height: none;
    .ie9 &, .ie8 & {
      width: 1245px;
      height: 709px;
    }
    .usa-adrails &, .ie9 &, .ie8 & {
      width: 100%;
    }
  }
}
