.usa-adrails {
  background-color: $black-dark !important;
  .usa-wrap {
    max-width: 1000px;
    margin: 0 auto;
    .panel-wrapper {
      position: relative;
    }
    #main,
    .flexslider {
      max-width: 1000px;
    }
  }
}
.usa-wrap {
  background-color: $black-dark;
}

.ad-leaderboard {
  text-align: center;
  padding: 16px 0;
  line-height: 1em;
  padding-bottom: 15px;
}

#head-sponsored {
  float: right;
  margin: 1px 12px 0 0;
}
