$primary-nav-height-mobi: 50px;
$primary-nav-height-dt: 65px;
$logo-height-large: 34px;
$logo-height-med: 28px;
$logo-height-med-2: 32px;

// NAVIGATION
#mega-nav {
  position: fixed;
  z-index: $ziMegaNav;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $primary-nav-height-mobi;
  background-color: $nav-black;
  border-top: 1px solid $gray-med-dark;
  text-align: center;
  @include transition-property(left);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-in-out);
  a {
    @include link-colors($gray-dark-light, $gray-extra-light, $gray-extra-light, $gray-dark-light, $gray-dark-light);
  }
  [data-menu-position="open"] & {
    left: 258px;
    .primary-nav {
      > *:not(#main-menu-toggle) {
        opacity: 0.2;
        a {
          cursor: default;
        }
      }
    }
  }
  @include box-shadow(rgba(0,0,0,.7) 0 -31px 63px);
  @include breakpoint($bp-menu-switch) {
    border-top: none;
    height: auto;
    text-align: left;
     a {
      @include link-colors($link-normal, $link-hover, $link-normal, $link-normal, $link-normal);
    }
    .mega-sub-nav {
      a {
        @include link-colors($white, $blue, $white, $white, $white);
      }
    }
    .mega-nav-close {
      display: block;
      float: right;
      cursor: pointer;
      color: $gray-light;
      font-size: 32px;
      font-family: $font-mono;
      margin-right: 22px;
      @include scale(1.25,1);
    }
  }
}
.primary-nav {
  @include breakpoint($bp-menu-switch) {
    border-top: 1px solid $gray-med-dark;
    height: $primary-nav-height-dt;
    white-space: nowrap;
  }
}
#logo {
  @extend %usanetwork-font;
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-right: 25px;
  height: auto;
  @include inline-block;
  font-size: $logo-height-med;
  @include breakpoint($bp-menu-switch) {
    @include float-left;
    font-size: $logo-height-large;
    border-right: 1px solid $gray-med;
  }
  a {
    @include link-colors($white, $white, $white, $white, $white);
  }
}
.menu-title {
  @include breakpoint($bp-menu-switch) {
    display: none;
  }
}
.mobi-menu-icon {
  @include float-left;
  position: relative;
  margin: 14px 20px;
  width: 25px;
  height: 25px;
  margin-right: -65px;
  border: 5px solid $blue;
  border-width: 5px 0 5px 0;
  background-color: transparent;
  cursor: pointer;
  @include breakpoint($bp-menu-switch) {
    display: none;
  }
  &:before {
    content: $space;
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    width: 25px;
    height: 0px;
    border-top: 5px solid $blue;
  }
  &:hover, &:hover:before, &:hover:after {
    border-color: $white;
  }
  [data-menu-position="open"] & {
    border-color: $white;
    &:before {
      border-color: $white;
    }
  }
}
.mega-menu-items {
  margin: 16px 15px;
  text-align: left;
  display: none;
  @include breakpoint($bp-menu-switch) {
    @include inline-block;
  }
  &.active-item {
    .mega-nav-link {
      color: $white;
    }
    .mega-sub-nav-container {
      @include translate3d(0, 0, 0);
      @include opacity(1);
      bottom: 100%;
    }
  }
  &:first-child {
    margin: 0 12px;
  }
  #jPanelMenu-menu & {
    display: block;
    margin: 0;
    a {
      background-color: $gray-dark;
      border-color: $gray-med;
    }
  }
}
.mega-nav-link {
  @include sansTitle-mobi;
  color: $blue;
  display: block;
  font-size: 22px;
  height: $primary-nav-height-dt - 33px;
  line-height: $primary-nav-height-dt - 33px;
  margin: 0;
  position: relative;
  z-index: 2;
  &:hover,
  &:focus {
    color: $white;
  }
  &::selection,
  &::-moz-selection {
    background: transparent;
  }
}

.mega-sub-nav {
  padding: 30px 31px 20px;
  overflow: hidden;
  background: $nav-black;
}
.mega-sub-nav-link {
  font-family: $headline-reg;
  color: $white;
  &:hover {
    color: $blue;
  }
}
.mega-sub-nav-container {
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  @include transition-property(all);
  @include translate3d(0, 100%, 0);
  @include opacity(0);
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.mega-sub-nav {
  ul {
    @include no-bullets;
    @include column-count(3);
    @include column-gap(2em);
    .ie9 & {
      li {
        float: left;
        width: 30%;
        margin-right: 1em;
        overflow: hidden;
      }
    }
  }
  a {
    color: $white;
  }
  .more-title {
    @extend %h2;
    font-family: $headline-semi;
    color: $gray-extra-light;
    text-transform: uppercase;
  }
}
[class*='sub-nav'] {
  .flagged {
    color: $orange;
    text-transform: uppercase;
  }
}

.ie9 .mega-sub-nav {
  display: none;
}
.ie9 .active-item .mega-sub-nav {
  display: block;
}

.panel-sub-nav-container {
  display: none;
  .active-item & {
    display: block;
  }
}
.panel-sub-nav {
  padding: 0;
  background: $black;
  ul {
    @include no-bullets;
    margin-bottom: 0;
    li {
      margin-bottom: 0;
    }
  }
  .more-title {
    display: none;
  }
}
#jPanelMenu-menu {
  .panel-sub-nav {
    .slide-panel-link {
      background-color: transparent;
      font-size: 15px;
      line-height: 22px;
      padding: 8px 20px 6px;
    }
  }
}

#wall {
  background-color: $black-trans;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $ziWall;
}

.mega-nav-close {
  display: none;
}


//////////////
// SHOW NAV
//////////////
#mega-nav {
  .block {
    display: inline-block;
  }
}
#block-usanetwork-blocks-usa-tv-show-menu {
  display: inline-block;
  font-family: $headline-reg;
  text-transform: lowercase;
  font-size: 19px;
  height: $primary-nav-height-dt - 33px;
  line-height: $primary-nav-height-dt - 33px;
  > div {
    display: inline-block;
  }
}
.tv-show-menu-trigger {
  color: $blue;
  margin-right: 8px;
  font-size: 22px;
  padding: 0 1em 0 0.5em;
  border-right: 1px solid $gray-med;
  position: relative;
  font-family: $headline-semi;
  &:after {
    position: absolute;
    content: $space;
    @include cssTriangle(14px, $nav-black, bottom);
    border-top: none;
    top: -28px;
    left: 50%;
    @include transform3d(translateX(-50%));
    z-index: 105;
    @include filter(drop-shadow($gray-med-dark 0 -2px 0));
  }
}
#tv-show-menu {
  li {
    margin: 0;
    display: block;
  }
  a {
    display: block;
    background-color: $gray-dark;
    border-color: $gray-med;
  }
  @include breakpoint($bp-menu-switch) {
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    background-color: $gray-dark;
    border-top: 1px solid $gray-ultra-med;
    height: 50px;
    padding-left: 110px;
    white-space: nowrap;
    a {
      @include link-colors($white, $white, $white, $white, $white);
      font-size: 22px;
      line-height: 50px;
      padding: 0 23px;
      display: inline-block;
      background: none;
      border: none;
    }
    ul {
      &, li {
        margin: 0;
        padding: 0;
        display: inline-block;
      }
    }
    li {
      .item-list {
        display: none;
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        padding: 1em 50px 1em 110px;
        background-color: rgba($gray-dark, 0.95);
        border-top: 1px solid $gray-darker-light;
        border-bottom: 1px solid $gray-ultra-med;
        ul {
          display: block;
          @include column-count(4);
          @include column-gap(2em);
          .ie9 & {
            li {
              float: left;
              width: 25%;
              margin-right: 1em;
              overflow: hidden;
            }
          }
        }
        li {
          display: block;
          font-size: 16px;
          line-height: 16px;
          color: $gray-darker-light;
        }
        a {
          @include link-colors($gray-dark-light, $gray-light, $gray-dark-light, $gray-dark-light, $gray-dark-light);
          font-size: 16px;
          line-height: 16px;
          display: inline-block;
          padding-bottom: 12px;
        }
      }
      &:hover {
      > a {
        position: relative;
        background-color: $gray-med-dark;
        }
      }
      &.parent-item:hover {
        > a:after {
          position: absolute;
          content: $space;
          @include cssTriangle(14px, $gray-med-dark, bottom);
          border-top: none;
          top: -14px;
          left: 50%;
          @include transform3d(translateX(-50%));
          @include filter(drop-shadow($gray-darker-light 0 -1px 0));
          z-index: 105;
        }
        li {
          a {
            background-color: transparent;
            &:after {
              display: none;
            }
          }
        }
        > .item-list {
          display: block;
        }
      }
    }
  }
}