body.person-page {
	overflow-x: hidden;
	font-family: $headline-reg;
	#main {
		padding-left: 0;
		padding-right: 0;
		background-color: $black-true;
	}
	.ad-leaderboard {
		background-color: $black;
	}
}


#person-content {
	width: auto;
	position: relative;
	h1 {
		text-transform: none;
		font-size: 24px;
		margin-top: 0;
		@include breakpoint($bp-person-medium-width) {
			font-size: 26px;
		}
	}
	h4 {
		font-family: $headline-reg;
		text-transform: none;
		font-size: 14px;
		margin: 5px 30px 5px 0;
	  position: relative;
		@include breakpoint($bp-person-medium-width) {
			font-size: 18px;
		}
	}
	.person-content-wrapper {
		max-width: 1319px;
		width:300px;
		position: relative;
		margin: 0 auto;
		padding: 26px 0 30px;
		@include breakpoint($bp-person-mid-two-width) {
			padding: 40px 45px 60px;
			max-width: 1335px;
			width: auto;
		}
	}
	aside {
		position: relative;
		z-index: 2;
		.field-name-body {
			clear: both;
			&:before {
				content: "\0020";
				display: block;
				height: 0;
				clear: both;
				overflow: hidden;
				visibility: hidden;
			}
		}
		&#person-image {
			display: none;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
			@include breakpoint($bp-person-medium-width) {
				display: block;
			}
			img {
				max-width: 55%;
				position: absolute;
				right: -50px;
				&:after {
					content: "\0020";
					display: block;
					height: 0;
					clear: both;
					overflow: hidden;
					visibility: hidden;
				}
			}
		}
		&#person-content {
		 	.pane-page-title + .pane-views-panes,
		 	.pane-page-title + .pane-views-panes + .pane-views-panes {
				float: left;
			}
			@include breakpoint($bp-person-medium-width) {
				width: 51%;
			}
		}
	}
	.node-media-gallery {
		width: 300px;
		position: relative;
		border: 2px solid $gray-dark;
		margin: 0 auto 15px;
		@include breakpoint($bp-person-gall-width) {
			height: 252px;
			margin: 0 15px 0 0;
			float: left;
		}
		h2 {
			font-size: 20px;
		}
		.field-name-title {
			@extend .title-overlay;
			h2 {
				margin-bottom: 2px;
			}
		}
	}
}
