body.usa-social {
  overflow-x: hidden;
}

.icons-social a {
  color: $black-dark;
  background-color: $gray-light;
  @extend %usanetwork-font;
  font-size: 1.5em;
  @include border-radius(50%);
  padding: 4px 3px 3px;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-left: 5px;
  &:hover {
    background-color: $white;
  }
  &.usasocial-fb {
    padding-left:8px;
  }
}

#block-usanetwork-social-usa-show-social-tab-nav {
  @include breakpoint($bp-social-mid-width) {
    font-size: 20px;
  }
  &.open .menu-label {
    color: $gray-extra-light;
  }
  .menu-label {
    font-family: $headline-reg;
    color: $white;
    padding: 8px 5px 7px 11px;
  }
  ul {
    margin: 0;
  }
  li {
    margin: 0;
    &:first-child a {
      margin: 0;
    }
    &.first a {
      @include breakpoint($bp-social-mid-width) {
        font-family: $headline-thn;
      }
    }
  }
  a {
    border-top: 1px solid $gray-light;
    &.active {
        color: $white;
        border-bottom: 0;
        @include breakpoint($bp-social-mid-width) {
          background-color: $gray-med;
          color: $gray-extra-light;
          border-left: 1px solid $gray-med-dark;
          border-right: 1px solid $gray-med-dark;
          &:after {
            @include cssTriangle(12px, $gray-med, top);
            position: absolute;
            left: 50%;
            top: 58px;
            margin-left: -12px;
          }
        }
    }
    &:hover {
      background-color: $gray-ultra-med;
      @include breakpoint($bp-social-mid-width) {
        background-color: $gray-med;
      }
    }
    &:hover:after {
      @include breakpoint($bp-social-mid-width) {
        @include cssTriangle(12px, $gray-med, top);
        position: absolute;
        left: 50%;
        top: 58px;
        margin-left: -12px;
      }
    }
    @include breakpoint($bp-social-mid-width) {
      padding-left: 30px;
      padding-right: 30px;
      width: auto;
      border-top: 0;
      border-left: 1px solid $gray-dark;
      border-right: 1px solid $gray-dark;
      &:hover {
        color: $gray-extra-light;
        border-left: 1px solid $gray-med-dark;
        border-right: 1px solid $gray-med-dark;
      }
    }
  }
}


.usa-social {
  #main {
    max-width: 1245px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    @include breakpoint($bp-social-small-width) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include breakpoint($bp-social-xtra-large-width) {
      width: auto;
      clear: both;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .tabs {
    display: none; /* need to ask vino about this */
    .secondary {
      display: none;
    }
  }
  li {
    list-style: none;
  }
  #content {
    @extend %two-to-one-col-social-content-no-sidebar;
  }
  .sidebar {
    @extend %two-to-one-col-social-sidebar;
  }
}

.usa-social.one-sidebar {
  #content {
    @extend %two-to-one-col-social-content-sidebar;
  }
}

.social-follow-block {
  background-color: $black-into-gray;
  border: 1px solid $gray-med;

  h2 {
    @include background(linear-gradient(center top , $black-true, $gray-dark));
    color: $white;
    text-transform: lowercase;
    font-family: $headline-lt;
    font-size: 24px;
    padding: 16px 12px 11px 8px;
    line-height: 1em;
    text-align: center;
    margin: 0;
  }
  ul {
    margin: 0;
  }
  ul li {
    font-size: 0;
    overflow: hidden;
    padding: 10px 0 10px 54px;
    margin: 0;
    border-top: 1px solid $gray-ultra-med;
    figure {
      display: inline-block;
      margin-left: -42px;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
  }
  .item-content {
    display: inline-block;
    margin-right: -145px;
    overflow: hidden;
    padding-right: 145px;
    text-align: right;
    vertical-align: middle;
    width: 100%;
    .title {
      line-height: 1em;
      font-size: 14px;
      font-family: $headline-thn;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 100%;
      > div {
        margin: 4px 0 0 11px;
      }
      h2, h4 {
        font-size: 14px;
        font-family: $headline-reg;
        color: $white;
        text-transform: none;
      }
      .field-name-field-role,
      .field-name-field-usa-actor-name {
        font-style: italic;
        color: $beige;
        font-weight: normal;
      }
    }
    a {
      color:$white;
    }
  }
  .icons-social {
    font-size: 14px;
    display: inline-block;
    margin-right: -130px;
    overflow: hidden;
    vertical-align: middle;
    width: 130px;
    a {
      @extend %usanetwork-font;
      background-color: transparent;
      color: $gray-light;
      float: right;
      margin-left: 7px;
      width: 19px;
      height: 21px;
      padding:0;
      font-size: 1.4em;
      &:hover {
        color: $blue;
      }
    }
    .usasocial-pinterest {
        background-color: $gray-light;
        color: $gray-med-dark;
        padding-top: 3px;
        width: 21px;
        &:hover {
          background-color: $blue;
          color: $gray-med-dark;
        }
    }
    .usasocial-fb {
      margin-left:3px;
    }
  }
  .attachment-after .view-usa-shows.view-display-id-attachment_1 {
    .view-footer {
      position: relative;
      border-top: 1px solid $gray-ultra-med;
      font-family: $headline-lt;
      font-size: 24px;
      padding: 10px 15px 7px 10px;
      text-transform: lowercase;
      cursor: pointer;
      text-align: center;
      &:after {
        @include cssTriangle(6px, $white, top);
        right: 40px;
        position: absolute;
        top: 18px;
      }
      &.open {
        &:after {
          @include cssTriangle(6px, $white, bottom);
          right: 40px;
          position: absolute;
          top: 14px;
        }
      }
    }
    .view-content {
      display: none;

    }
  }
}



/* chat with fans */

#chat-echo-stream {
  background-color: $white;
  padding: 0 12px 30px;
  @include breakpoint($bp-social-very-large-width) {
    padding-left: 42px;
    padding-right: 42px;
  }
}

/* twitter */

#echo-stream {
  background-color: $white;
  padding: 30px 12px;
  @include breakpoint($bp-social-very-large-width) {
    padding-left: 42px;
    padding-right: 42px;
  }
  .echo-item-footer {
    .echo-item-date {
      display: none;
    }
  }
}

 /* echo stream */

.echo-stream-header {
  float: right;
  margin: 0;
}
.echo-stream-body {
  clear: both;
}
.echo-submit-controls {
  margin-top: 0;
}

.echo-stream-more {
  color: $gray-darker-light;
}

.echo-item-container {
  position: relative;
}

.echo-item-wrapper {
  margin-left: 0;
  float: none;
  width: auto;
  clear: both;
  @include breakpoint($bp-social-small-width) {
    clear: none;
    margin-left: 58px;
  }
  @include breakpoint($bp-social-mid-width) {
    margin-left: 63px;
  }
}

.echo-item-subwrapper {
  margin-left: 0;
}

.echo-item-data {
  padding-bottom: 6px;
  font-size: 12px;
  font-family: $headline-reg;
  letter-spacing: 0.05em;
  line-height: 1.2;
  padding-top: 4px;
  p {
    margin: 0 0 10px;
  }
}

.echo-item-body {
  color: inherit;
  padding: 0;
}

.echo-item-likes {
  padding-top: 2px;
}

.echo-item-via {
  display: none;
}

.echo-item-authorName {
  color: $gray-med;
  font-family: $headline-semi;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 19px;
  word-break: break-all;
  a {
    color: $gray-med;
    &:hover {
      color: $gray-med;
    }
  }
}

.echo-item-footer {
  color: $gray-extra-light;
  font-family: $headline-reg;
  font-size: 12px;
  background: none;
  padding: 0;
  .echo-item-from a,
  .echo-item-from span {
    color: $gray-dark;
  }
  .echo-secondaryColor {
   color: $gray-dark;
  }
  line-height: 1.5em;
  margin-top: 0;
}

.echo-TwitterIntents-plugin .echo-item-footer {
  margin-top: 0;
}

.echo-item-controls .echo-item-control,
.echo-item-controls a {
  color: $gray-dark;
  &:hover {
    color: $gray-dark;
  }
}

.echo-item-children {
  padding-left: 20px;
  @include breakpoint($bp-social-echo) {
    padding-left: 77px;
  }
  .echo-item-container {
    margin-right: 0;
    margin-left: 0;
    padding: 15px;
  }
  .echo-item-subwrapper {
    margin: 0;
  }
  .echo-item-content {
    padding: 0;
  }
  .echo-item-wrapper {
    margin-left: 30px;
    @include breakpoint($bp-social-mid-width) {
      margin-left: 45px;
    }
  }
}

input.echo-submit-text {
  padding: 3px;
}

.echo-item-replyForm {
  margin: 0 0 0 20px;
  @include breakpoint($bp-social-echo) {
    margin-left: 77px;
  }
  .echo-submit-controls {
    margin-top: 5px;
  }
  .echo-submit-header span {
    font-size: 12px;
  }
}

.echo-submit-forcedLoginUserInfoMessage {
  padding-right: 30px;
}

.echo-item-content {
  color: $gray-extra-light;
  position: relative;
  margin-bottom: 2px;
  padding: 8px 0 12px;
  @include breakpoint($bp-social-small-width) {
    padding-bottom: 8px;
  }
  .echo-item-avatar-wrapper {
    display: inline;
    float: left;
    margin-bottom: 10px;
    @include breakpoint($bp-social-echo) {
      margin-bottom: 0;
    }
  }

  .echo-item-tweetUserName {
    display: block;
    clear: both;
    @include breakpoint($bp-social-echo) {
      display: inline;
      clear: none;
    }
    a {
    color: $gray-med;
    font-family: $headline-semi;
    font-size: 12px;
    }
  }
  .echo-item-tweetDate a {
    color: $gray-med;
    &:hover {
      color: $gray-med;
    }
  }
  .echo-item-container-root {
    padding: 0;
  }
  .echo-item-expandChildren {
    margin-right: 0;
    margin-left: 20px;
    @include breakpoint($bp-social-echo) {
      margin-left: 77px;
    }
  }
}


/* chat with fans form */

#chat-submit-form {
  clear: both;
  overflow: hidden;
  background-color: $white;
  padding: 30px 12px 0;
  @include breakpoint($bp-social-very-large-width) {
    padding-left: 42px;
    padding-right: 42px;
  }
  .echo-auth-logged {
    .echo-auth-avatar,
    .echo-auth-name {
      display: none;
    }
  }
  .echo-auth-login,
  .echo-auth-logout, {
    font-size: 15px;
  }
}

.echo-submit-header span {
  color: $gray-light;
}

.echo-auth-logout,
.echo-auth-login {
  text-transform: uppercase;
  font-size: 11px;
  color: $gray-dark;
  float: right;
}

.echo-submit-counterLabel {
  color: $gray-extra-light;
  padding-top: 4px;
}
.echo-submit-container  {
  width: 100%;
}
.echo-submit-content {
  padding: 0;
  border: 0;
}
.echo-submit-body {
   width: 100%;
  textarea {
    color: $gray-extra-light;
    @include border-radius(5px);
    border: 1px solid $gray-darker-light;
    height: 77px;
    padding: 5px;
  }
}

.echo-submit-markersContainer,
.echo-submit-tagsContainer {
  display: none !important;
}

.echo-submit-forcedLogin .echo-submit-controls {
  display: none;
}

/* global chat with fans pgs */

#globalChatWithFans > div:first-child {
  display: none;
}

#showList {
  background-color: $white;
  padding: 10px 12px 40px;
  color: $gray-extra-light;
  font-family: $headline-reg;
  font-size: 12px;
  @include breakpoint($bp-social-mid-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
  a {
    color: $gray-extra-light;
    &:hover {
      color: $gray-extra-light;
    }
  }
  img {
  }
  h3 {
    color: $gray-sky;
    font-size: 30px;
    font-family: $headline-reg;
    text-transform: lowercase;
    margin-bottom: 5px;

  }
  .go-chat {
    position: absolute;
    right: 0;
    top: 2px;
    background-color: $gray-sky;
    color: $white;
    padding: 2px 18px 1px 6px;
    font-size: 14px;
    @include breakpoint($bp-social-echo) {
      top: 11px;
      font-size: 20px;
      padding: 6px 22px 5px 8px;
    }
    @include breakpoint($bp-social-xtra-large-width) {
      top: 27px;
      font-size: 24px;
    }
    &:after {
      @include cssTriangle(5px, $white, left);
      position: absolute;
      right: 2px;
      top: 9px;
      @include breakpoint($bp-social-echo) {
         @include cssTriangle(6px, $white, left);
         top: 11px;
      }
    }
  }
  .echo-item-from,
  .echo-item-sourceIcon,
  .echo-item-date {
    float: left;
  }
  .echo-item-sourceIcon {
    margin-right: 3px;
  }
  .echo-item-footer {
    @extend %clearfix;
  }
}

.usanetwork_social_global_show {
  position: relative;
  border-bottom: 1px solid $gray-sky;
  @extend %clearfix;
  cursor: pointer;
  padding-bottom: 6px;
}

/* signin popup */
#fancybox-wrap {
  left: 0 !important;
  height: 300px !important;
  width: 460px !important;
  @include breakpoint($bp-social-small-width) {
    left: 25% !important;
  }
}


/* show landing page social */


.social-panel {
  &.inner-wrapper  {
    .panel-col1 {
      @extend %two-to-one-col-social-content-no-sidebar;
    }
    .panel-col2 {
      width: 100%;
    }
    &.panel-two-cols .panel-col2 {
      @extend %two-to-one-col-social-sidebar;
    }
  }
  &.panel-two-cols .panel-col1 {
    @extend %two-to-one-col-social-content-sidebar;
  }

}

#usanetwork_social_chatter_title {
  border-bottom: 1px solid $gray-med;
  color: $white;
  font-family: $headline-lt;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0;
  padding: 10px 15px 7px;
  text-transform: lowercase;
}


#usanetwork_social_show_homepage_chatter {
  background-color: $gray-dark;
}

.usanetwork_social_show_comment {
  border-bottom: 1px solid $gray-med;
  border-top: 1px solid $black-dark;
  padding: 20px 15px;
  .echo-item-content {
    color: $white;
  }
  .echo-item-data {
    font-size: 16px;
    font-family: $headline-lt;
    @include breakpoint($bp-social-echo) {
      font-size: 21px;
    }
  }
  .echo-item-authorName {
    color: $gray-dark-light;
    font-size: 26px;
    padding-bottom: 8px;
  }
  .echo-item-footer {
    font-size: 13px;
    img {
      display: none !important;
    }
  }
  .echo-item-date,
  .echo-item-from {
    float: left;
  }
}

#usanetwork_social_join {
  clear: both;
  text-align: center;
  padding: 10px 0 7px;
  border-top: 1px solid $black-dark;
  position: relative;
  .usanetwork_social_join_msg {
    color: $white;
    font-family: $headline-lt;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 1;
    padding-left: 20px;
    position: relative;
    text-transform: lowercase;
    &:before {
      @include cssTriangle(6px, $white, left);
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
}
